<mat-toolbar class="shadow-sm white-bg navbar navbar-expand-sm sticky-top">

    <span>
      <a href="javascript:void(0"><img class="brand-logo" src="../../assets/images/final_V2.svg"></a>
    </span>
    <!-- Links -->
    <ul class="navbar-nav ml-auto top-menu">
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">Demo</a>
      </li>
      <li class="nav-item d-flex align-items-center">
        <a class="btn btn-outline ml-2" href="javascript:void(0)">Get started</a>
      </li>
    </ul>
</mat-toolbar>

<div class="container-fluid">
  <div class="row banner align-items-stetch theme-bg">
    <div class="col-sm-6 d-flex flex-column justify-content-center">
      <div class="banner-content">
        <h1 class="text-white banner-title">It's all coming<br>together</h1>
        <p class="text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <button class="btn btn-outline-white">Get started</button>&nbsp;&nbsp;
        <button class="btn btn-white">
          <mat-icon>play_circle_outline</mat-icon>
          See how it works
        </button>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="banner-img-container ion-padding">
        <img class="banner-img" src="../../assets/images/macbook.png"/>
      </div>
    </div>
  </div>

  <div class="media-container">
    <div class="row space">
      <div class="col-sm-12 mt-3">
        <h2 class="text-center title theme-dark">Tailored for your unique business goals.</h2>
          <p class="text-center theme-dark">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col d-flex flex-column justify-content-center app-for">
        <div class="thumbnail">
          <img class="img-fluid h-100" src="../../assets/images/icons/startup.svg">
        </div>
        <h4 class="theme-dark text-center">Start-up</h4>
        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>

      <div class="col d-flex flex-column justify-content-center app-for">
        <div class="thumbnail">
          <img class="img-fluid h-100" src="../../assets/images/icons/shop.svg">
        </div>
        <h4 class="theme-dark text-center">Small buisness</h4>
        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="col d-flex flex-column justify-content-center app-for">
        <div class="thumbnail">
          <img class="img-fluid h-100" src="../../assets/images/icons/freelancer.svg">
        </div>
        <h4 class="theme-dark text-center">Freelancers</h4>
        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>

      <div class="col d-flex flex-column justify-content-center app-for">
        <div class="thumbnail">
          <img class="img-fluid h-100" src="../../assets/images/icons/entrepreneur.svg">
        </div>
        <h4 class="theme-dark text-center">Entrepreneurs</h4>
        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>

      <div class="col d-flex flex-column justify-content-center app-for">
        <div class="thumbnail">
          <img class="img-fluid h-100" src="../../assets/images/icons/individuals.svg">
        </div>
        <h4 class="theme-dark text-center">Individuals</h4>
        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
    </div>

    <!-- services -->
    <div class="row space">
      <div class="col-sm-12 mt-3">
        <h2 class="text-center title theme-dark">Tailored for your unique business goals.</h2>
          <p class="text-center theme-dark">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>

      <div class="col-sm-8 d-flex align-items-center">
        <div class="row">
          <div class="col-sm-6">
            <div class="card-boxes p-3">
              <div class="avatar">
                <img src="../../assets/images/icons/smartphone.svg">
              </div>
              <h4 class="theme-dark">Custom Apps</h4>
              <p class="theme-dark">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card-boxes p-3">
              <div class="avatar">
                <img src="../../assets/images/icons/smartphone.svg">
              </div>
              <h4 class="theme-dark">Media & Entertainment</h4>
              <p class="theme-dark">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card-boxes p-3">
              <div class="avatar">
                <img src="../../assets/images/icons/smartphone.svg">
              </div>
              <h4 class="theme-dark">Employee Communication</h4>
              <p class="theme-dark">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card-boxes p-3">
              <div class="avatar">
                <img src="../../assets/images/icons/smartphone.svg">
              </div>
              <h4 class="theme-dark">Business Apps</h4>
              <p class="theme-dark">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 d-flex justify-content-center">
        <div>
          <img class="img-fluid h-100" src="../../assets/images/services.png"/>
        </div>
      </div>
    </div>

    <!-- features maybe -->
    <div class="row space align-items-center">
      <div class="col-sm-5">
        <div>
          <img class="img-fluid h-100" src="../../assets/images/services.png"/>
        </div>
      </div>
      <div class="col-sm-5">
        <h2 class="title theme-dark">All your money in one place.</h2>
        <p class="theme-dark">He legged it plastered cheeky loo what a plonker some dodgy chav a barney wellies, gutted mate quaint the little rotter pardon me bite your arm off the bee's knees tickety-boo owt to do.!</p>
        <mat-list role="list" class="bullet-list">
          <mat-list-item role="listitem" class="theme-dark">
            <mat-icon mat-list-icon>fiber_manual_record</mat-icon>
            <p mat-line>Enjoy access to unlimited free credit scores, without harming your credit.</p>
          </mat-list-item>
          <mat-list-item role="listitem" class="theme-dark">
            <mat-icon mat-list-icon>fiber_manual_record</mat-icon>
            <p mat-line>See all of your bills and money at a glance.</p>
          </mat-list-item>
          <mat-list-item role="listitem" class="theme-dark">
            <mat-icon mat-list-icon>fiber_manual_record</mat-icon>
            <p mat-line>Create budgets easily with tips tailored to you.</p>
          </mat-list-item>
          <mat-list-item role="listitem" class="theme-dark">
            <a class="btn btn-outline" href="javascript:void(0)">Learn More</a>
          </mat-list-item>
        </mat-list>

      </div>
    </div>

    <div class="row align-items-center space">
      <div class="col-sm-5 offset-sm-1">
        <h2 class="title theme-dark">All your money in one place.</h2>
        <p class="theme-dark">He legged it plastered cheeky loo what a plonker some dodgy chav a barney wellies, gutted mate quaint the little rotter pardon me bite your arm off the bee's knees tickety-boo owt to do.!</p>
        <mat-list role="list" class="bullet-list">
          <mat-list-item role="listitem" class="theme-dark">
            <mat-icon mat-list-icon>fiber_manual_record</mat-icon>
            <p mat-line>Enjoy access to unlimited free credit scores, without harming your credit.</p>
          </mat-list-item>
          <mat-list-item role="listitem" class="theme-dark">
            <mat-icon mat-list-icon>fiber_manual_record</mat-icon>
            <p mat-line>See all of your bills and money at a glance.</p>
          </mat-list-item>
          <mat-list-item role="listitem" class="theme-dark">
            <mat-icon mat-list-icon>fiber_manual_record</mat-icon>
            <p mat-line>Create budgets easily with tips tailored to you.</p>
          </mat-list-item>
          <mat-list-item role="listitem" class="theme-dark">
            <a class="btn btn-outline" href="javascript:void(0)">Learn More</a>
          </mat-list-item>
        </mat-list>
      </div>
      <div class="col-sm-5 offset-sm-1 d-flex justify-content-center">
        <div>
          <img src="../../assets/images/services.png"/>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="theme-bg section">
  <div class="media-container">
    <div class="row align-items-center">
      <div class="col-sm-7">
        <div>
          <img class="img-fluid" src="../../assets/images/macbook.png"/>
        </div>
      </div>
      <div class="col-sm-5">
        <h2 class="title text-white">Hire professional Oppi app Makers to build your apps.</h2>
          <p class="text-white mt-4">Zonked twit chancer porkies grub chap bleeding cracking goal codswallop young delinquent no biggie, lemon squeezy pardon you super wind up gosh arse over tit Harry cheeky.</p>
          <a class="btn btn-outline-white" href="javascript:void(0)">Learn More</a>
      </div>
    </div>
  </div>
</section>

<!-- carousel slider will come here -->

<section class="footer p-3">
  <div class="media-container">
    <div class="row">
      <div class="col-sm-4">
        <div>
          <h2>ClientNest</h2>
          <div class="social-links">
            <ul class="p-0">
              <li><a href="#">
                  <img src="../../assets/images/icons/facebook.svg">
              </a></li>
              <li><a href="#">
                  <img src="../../assets/images/icons/linkedin.svg">
              </a></li>
              <li><a href="#">
                <img src="../../assets/images/icons/instagram-sketched.svg">
            </a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div>
          <h4 class="theme-dark">Contact Us</h4>
          <ul class="p-3 contact-detail">
            <li>
              <a href="#" class="d-flex align-items-center">
                <span class="d-flex icon"><mat-icon>email</mat-icon></span>
                <span>hello@clientnest.com</span>
              </a>
            </li>
            <li>
              <a href="#" class="d-flex align-items-center">
                <span class="d-flex icon"><mat-icon>call</mat-icon></span>
                <span>+910123456789</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-sm-4">
          <div>
            <h4 class="theme-dark">Location</h4>
            <p class="theme-dark">Workology, 1/1 Peridot Plaza, Next to Novel Business Park, Gajendra Nagar, Adugodi, Bengaluru, Karnataka 560030</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
