<mat-toolbar class="shadow-sm white-bg justify-content-end">
  <button class="" mat-fab [matMenuTriggerFor]="addOptions" aria-label="Example icon-button with a menu">
    <mat-icon>add</mat-icon>
  </button>
  <mat-menu #addOptions="matMenu">
    <button mat-menu-item (click)="openAddFollowup()">
      <mat-icon>subtitles</mat-icon>
      <span>Add Followup</span>
    </button>
    <button mat-menu-item (click)="openAddClient()">
      <mat-icon>people_alt</mat-icon>
      <span>Add Client</span>
    </button>
  </mat-menu>
</mat-toolbar>

<div class="container-fluid pt-5 pb-5 pr-3 pl-3">
  <div class="row justify-content-center">
    <div class="col-sm-5">
      <h2 class="text-center">Today's Task</h2>
      <p class="theme-text text-center">Friday 31, 2020</p>

      <div class="shadow r-corner p-3">
        <div class="d-flex justify-content-center">
          <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="task-meta d-flex justify-content-center">
          <p class="d-flex justify-content-center"><span>Total Tasks</span><span>04</span></p>
          <p class="d-flex justify-content-center"><span>Completed</span><span>01</span></p>
          <p class="d-flex justify-content-center"><span>Pending</span><span>03</span></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-sm-12">
      <mat-card class="tasks-card">
        <div class="d-flex justify-content-end pl-2">
          <p class="m-0 pl-2"><small class="d-flex align-items-center"><mat-icon class="indicator completed">fiber_manual_record</mat-icon>&nbsp;Completed</small></p>
          <p class="m-0"><small class="d-flex align-items-center"><mat-icon class="indicator pending">fiber_manual_record</mat-icon>&nbsp;Pending</small></p>
        </div>

        <div class="tasks-card-list pt-3">
          <mat-card class="followup-card theme-bg d-flex">
            <div class="card-icon"><mat-icon class="text-white">bookmark</mat-icon></div>
            <div class="card-content">
              <div class="row">
                <div class="col-sm-2">
                  <p class="text-white title">Client Meeting</p>
                </div>
                <div class="col-sm-8">
                  <p class="text-white">Requirment gathering, so n so.</p>
                </div>
                <div class="col-sm-2">
                  <p class="text-white title">10AM</p>
                </div>
              </div>
            </div>
            <div class="actions">
              <a href="javascript:void(0)" class="mr-2"><mat-icon>create</mat-icon></a>
              <a href="javascript:void(0)" class="mr-2"><mat-icon>delete_outline</mat-icon></a>
              <a href="javascript:void(0)" class="indicator completed"><mat-icon>fiber_manual_record</mat-icon></a>
            </div>
          </mat-card>
          <mat-card class="followup-card theme-bg d-flex">
            <div class="card-icon"><mat-icon class="text-white">bookmark</mat-icon></div>
            <div class="card-content">
              <div class="row">
                <div class="col-sm-2">
                  <p class="text-white title">Client Meeting</p>
                </div>
                <div class="col-sm-8">
                  <p class="text-white">Requirment gathering, so n so.</p>
                </div>
                <div class="col-sm-2">
                  <p class="text-white title">10AM</p>
                </div>
              </div>
            </div>
            <div class="actions">
              <a href="javascript:void(0)" class="mr-2"><mat-icon>create</mat-icon></a>
              <a href="javascript:void(0)" class="mr-2"><mat-icon>delete_outline</mat-icon></a>
              <a href="javascript:void(0)" class="indicator pending"><mat-icon>fiber_manual_record</mat-icon></a>
            </div>
          </mat-card>
        </div>
      </mat-card>
    </div>
  </div>
</div>
